*.log
*.swp

.vs
.cache
.temp
.idea
.rn_temp
.DS_Store

antm.config.js
pullRequestV2.js
package-lock.json

node_modules
packages/**/coverage
packages/**/dist
packages/vantui/lib
packages/vantui/es

packages/taro-design/lib
packages/taro-design/es

packages/taro-demo/.swc
packages/taro-demo/weapp
packages/taro-demo/alipay
packages/taro-demo/swan
packages/taro-demo/h5
packages/taro-demo/tt
packages/taro-demo/qq
packages/taro-demo/dd
packages/taro-demo/qywx
packages/taro-demo/kwai
packages/taro-demo/jd
packages/taro-demo/iot
packages/taro-demo/build
packages/taro-demo/dist
packages/react-demo/build
packages/react-demo/dist
packages/react-demo/src/pages

packages/vantui-cli/lib
packages/vantui-cli/dist
packages/vantui-cli/dest

doc_build
temp.js
