.page-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  .wm-nav-bar {
    flex-shrink: 0;
  }

  .contentWrapper {
    height: 100%;
    overflow: hidden;
    .content {
      height: 100%;
    }
  }

  .page-content-footer {
    flex-shrink: 0;
  }

  .tabbarSpace {
    height: var(--tabbar-height);
    flex-shrink: 0;
  }

  .safeArea {
    height: env(safe-area-inset-bottom);
    flex-shrink: 0;
  }
}
